*{
    margin: 0;
    padding: 0;
}
#grilla{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 120px 100px 800px 50px;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "footer";
                         
}
.index{
    background-color: rgb(15, 17, 122);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 20% 50%;
    grid-template-areas: "area1"
                         "area2"
                         "area3"
                         "area4";
     align-items: center;
     justify-items: center;
    
    
}

header{
    background-color: gray;
    display: flex;
    height: 100%;
    width: auto;
}
nav{
    background-color: white;
    position: sticky;
    top: 10px;
}

footer{
    font-size: 15px;
    text-align: center;
    display: flex;
    background-color: rgb(221, 245, 22);
    align-items: center;
    justify-content: space-evenly;
}
ul{
    display: flex;
    height: 100%;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}   
li{
    font-size: 15px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    
    height: auto;
    width: 100%;

}

.imgRastreo{
    height: 350px;
    width: 350px;
    margin-left: 5px;

}

.titulos{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
   
}
.subtitulos{
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(42, 169, 210);
    margin-right: 110px;
}

.parrafos{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(18, 204, 163);
    margin-right: 50px;

    }
.center{
    width: 100%;
    max-width:1050px;
    height: 90%;
    max-height:1050px;
      
        
 }
 /* Pagina Nosotros */
 .nosotros1{
    background-color: rgb(15, 17, 122);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 20% 20% 20%;
    grid-template-areas: "area1"
                         "area2"
                         "area3"
                         "area4";
    align-items: center;
    justify-content: space-evenly;
}
.nosotros{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white

}

.somos{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white


}

.subtitulosSomos{
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(42, 169, 210);

}
/* Pagina Nosotros */

/* Pagina Planes */
.planes{
    background-color: rgb(15, 17, 122);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7% 18% 35% 35%;
    grid-template-areas: "area1"
                         "area2"
                         "area3"
                         "area4";
    align-items: center;
    justify-content: space-evenly;
}
.planes1{
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white
}
/* Pagina Planes */

/* Pagina Rastreo */
.rastreo{
    background-color: rgb(15, 17, 122);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 13% 40% 10%;
    grid-template-areas: "area1"
                         "area2"
                         "area3";
    align-items: center;
    justify-content: space-evenly;
}
/* Pagina Rastreo */

/* Pagina contactanos */
.contactanos{
    background-color: rgb(15, 17, 122);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 50%;
    grid-template-areas: "area1"
                         "area2";
    align-items: center;
    justify-content: space-evenly;


}
form{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(18, 204, 163);

}
/* Pagina contactanos */

/* Index min 600px */
@media only screen and (min-width: 600px){
    ul{
        display: flex;
        height: 100%;
        list-style-type: none;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

     }

     #grilla{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 180px 100px 800px 50px;
        grid-template-areas: "header"
                             "nav"
                             "main"
                             "footer";
    }
    .titulos{
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        
       
    }

    .subtitulos{
            font-size: 22px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(42, 169, 210);
            text-align: center;
    }
        
    .parrafos{
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(18, 204, 163);
            margin-right: 50px;
        
    }

}
/* Index min 600px */


/* Index 1200px */
@media only screen and (min-width: 1200px){
    ul{
        display: flex;
        height: 100%;
        list-style-type: none;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

     }

     #grilla{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 180px 100px 1200px 50px;
        grid-template-areas: "header"
                             "nav"
                             "main"
                             "footer";
    }
    .titulos{
        font-size: 35px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        
       
    }

    .subtitulos{
            font-size: 32px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(42, 169, 210);
            text-align: center;
    }
        
    .parrafos{
            font-size: 28px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(18, 204, 163);
            margin-right: 50px;
        
    }
    .center{
        width: 100%;
        min-width:750px;
        height: 90%;
        min-height:750px;

     }

}
/* Index 1200px */

/* Nosotros 600px */
@media only screen and (min-width: 600px){
    .nosotros1{
        background-color: rgb(15, 17, 122);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 20% 20% 20%;
        grid-template-areas: "area1"
                             "area2"
                             "area3"
                             "area4";
        align-items: center;
        justify-content: space-evenly;
    }
    .nosotros{
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:white
    
    }
    
    .somos{
        font-size: 17px;
        text-align: center;
        margin-top: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:white
    
    
    }
    
    .subtitulosSomos{
        text-align: center;
        font-size: 25px;
        margin-top: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(42, 169, 210);
    
    }

}
/* Nosotros 600px */

/* Nosotros 1200px */
@media only screen and (min-width: 1200px){
    .nosotros1{
        background-color: rgb(15, 17, 122);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 20% 20% 20%;
        grid-template-areas: "area1"
                             "area2"
                             "area3"
                             "area4";
        align-items: center;
        justify-content: space-evenly;
    }
    .nosotros{
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:white
    
    }
    
    .somos{
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:white
    
    
    }
    
    .subtitulosSomos{
        text-align: center;
        font-size: 30px;
        margin-top: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(42, 169, 210);
    
    }

}

/* Nosotros 1200px */

/* PLANES E-COMMERCE 600px */
@media only screen and (min-width: 600px){
.planes{
    background-color: rgb(15, 17, 122);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7% 18% 35% 35%;
    grid-template-areas: "area1"
                         "area2"
                         "area3"
                         "area4";
    align-items: center;
    justify-content: space-evenly;
}
.planes1{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white
}
}
/* PLANES E-COMMERCE 600px */

/* PLANES E-COMMERCE 1200px */
@media only screen and (min-width: 1200px){
.planes{
    background-color: rgb(15, 17, 122);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7% 18% 35% 35%;
    grid-template-areas: "area1"
                         "area2"
                         "area3"
                         "area4";
    align-items: center;
    justify-content: space-evenly;
}
.planes1{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white
}
}
/* PLANES E-COMMERCE 1200px */

/* Contactanos 600px */
@media only screen and (min-width: 600px){
    .contactanos{
        background-color: rgb(15, 17, 122);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 50%;
        grid-template-areas: "area1"
                             "area2";
        align-items: center;
        justify-content: space-evenly;
    
    
    }
    form{
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(18, 204, 163);
    
    }


}

/* Contactanos 600px */

/* Contactanos 1200px */
@media only screen and (min-width: 1200px){

    #grilla{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 100px 1200px 50px;
        grid-template-areas: "header"
                             "nav"
                             "main"
                             "footer";
    }
    .contactanos{
        background-color: rgb(15, 17, 122);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 50%;
        grid-template-areas: "area1"
                             "area2";
        align-items: center;
        justify-content: space-evenly;
    
    
    }
    form{
        font-size: 35px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(18, 204, 163);
    
    }
   
    

}

/* Contactanos 1200px */

/* Rastreo 600px */
@media only screen and (min-width: 600px){

    #grilla{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 100px 800px 50px;
        grid-template-areas: "header"
                             "nav"
                             "main"
                             "footer";
    }
    .rastreo{
        background-color: rgb(15, 17, 122);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 13% 60% 20%;
        grid-template-areas: "area1"
                             "area2"
                             "area3";
        align-items: center;
        justify-content: space-evenly;
    }
    .imgRastreo{

        height: 400px;
        width: 450px;
        margin-left: 100px;
    }
   
    

}
/* Rastreo 600px */

/* Rastreo 1200px */
@media only screen and (min-width: 1200px){

    #grilla{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 100px 1200px 50px;
        grid-template-areas: "header"
                             "nav"
                             "main"
                             "footer";
    }
    .rastreo{
        background-color: rgb(15, 17, 122);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 60% 10%;
        grid-template-areas: "area1"
                             "area2"
                             "area3";
        align-items: center;
        justify-content: space-evenly;
    }
    .imgRastreo{

        height: 650px;
        width: 650px;
        margin-left: 260px;

    }
  
}
/* Rastreo 1200px */

